<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.moop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MoopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity android:name=".features.login.PhoneAuthActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".features.splash.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service android:name=".features.notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".features.MoopActivity"
            android:label="@string/title_activity_moop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.condominio.AddCondominioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.publicacoes.NewPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.comentarios.ComentariosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.publicacoes.ImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.reserva.DisponibilidadesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.perfil.EditarPerfilActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".features.utils.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".features.moradores.MoradoresActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.chamado.ChamadoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.mensagens.MensagemActivity"
            android:label="@string/title_activity_mensagem"
            android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait" />
        <activity android:name=".features.moradores.AprovarMoradoresActivity" android:screenOrientation="portrait" />
        <activity android:name=".features.detalhe_condominio.MeuCondominioActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>